# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: docker.io/library/scala-seed-project
  tag: "OVERRIDE-ME"

resources: {}

postgres:
  user: root
  password: npecKo4u6pu
  service:
    name: postgres-service
    port: 5433